/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
 /*
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #303030,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #404040,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);*/

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
 /*
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}
*/






@include treelist-ui(
    $ui: 'navigation',
    $padding: 0 10px,

    // Black-ish background color
    $background-color: $panel-navigation-background-color,
    $toolstrip-background-color: mix(rgb(255, 36, 36), $panel-navigation-background-color, 2%), // #32404e,

    $tool-float-indicator-color: $panel-header-background-color,
    $tool-float-indicator-width: 5px,

    $tool-indicator-selected-color: $panel-header-background-color,
    $tool-indicator-selected-width: 5px,
    $tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
    //$tool-selected-color: #fff,
    $tool-selected-background-color: $panel-header-background-color,

    // Darker background for expanded subtrees
    $item-expanded-background-color: $panel-navigation-background-color, //2c3845

    // Taller line height
    $item-line-height : $panel-navigation-item-line-height,

    $row-over-background-color: mix(rgb(255, 36, 36), $panel-navigation-background-color, 5%),  //5%
    $row-selected-background-color: mix(rgb(255, 36, 36), $panel-navigation-background-color, 5%),//10%

    // Off-white text
    $item-icon-color: $panel-navigation-item-text-color,
    $item-expander-color: #fff,
    $item-text-color: #ADB3B8,

    // Brighter when hovered
   // $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%),
    $item-text-font-size: 14px,

    // Various sizes for the pieces:
    $item-icon-font-size: 18px,
    $item-icon-width: 44px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,

    // Style the "row indicator" (the vertical stripe on the left edge):
    $row-indicator-width: 5px,
    $row-indicator-selected-color: $panel-header-background-color,
    $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%),
    $row-indicator-over-color: transparent
);

//--------------------------------------------------------
// Create classes for full-size responsive items

.big-100 {
    @include responsivecolumn-item(100%);
}
.big-80 {
    @include responsivecolumn-item(80%);
}
.big-70 {
    @include responsivecolumn-item(70%);
}
.big-60 {
    @include responsivecolumn-item(60%);
}

.big-50 {
    @include responsivecolumn-item(50%);
}

.big-40 {
    @include responsivecolumn-item(40%);
    border: solid 1px red;
}

.big-35 {
    @include responsivecolumn-item(35%);
}

.big-33 {
    @include responsivecolumn-item(33.33%);
}

.big-30 {
    @include responsivecolumn-item(30%);
}
.big-25 {
    @include responsivecolumn-item(25%);
}
.big-20 {
    @include responsivecolumn-item(20%);
}

.big-10 {
    @include responsivecolumn-item(10%);
}

//--------------------------------------------------------
// And classes for small-size responsive items

 .x-responsivecolumn-small {
     > .small-100 {
         @include responsivecolumn-item(100%);
     }

     > .small-50 {
         @include responsivecolumn-item(50%);
     }
}

//--------------------------------------------------------

.sencha-logo {
    background-color:$base-color;
    height:65px;

    font-size: 16px;
    color: $lightest-color;
    margin-left: 17px;

    .main-logo {
        line-height:65px;
        font-size: 25px;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        img{
            margin-left: 10px;
            margin-right: 22px;
            top: 8px;
            position: relative;
        }
    }
}

.sencha-dash-dash-headerbar {
    padding:0 30px 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:none;
    .header-right-profile-image {
        border-radius: 20px;
    }
}
.top-english-button{
    .x-btn-icon-el{
        width:21px;
        height:14px;
    }
}
.collapsed{
    .hot-icon,.new-icon{
        &:after{
            display:none;
        }
    }
    .x-tree-elbow-img{
        display:none;
    }

    .x-tree-node-text {
        display:none;
    }
}
.x-grid-cell{
    position:relative;
}
.hot-icon,.new-icon{
    &.hot-icon:after{
        content: "HOT";
        background:#e3495a;
    }
    &.new-icon:after{
        content: "NEW";
        background:$base-color;
    }
    &:after{
        height: 18px;
        width: 34px;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: -180px;
        text-align:center;
        color: $lightest-color;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
    }
}

.x-treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after, &.new-icon:after{
        background: $panel-header-background-color;
        content: '';
    }
}

//.toolbar-btn-shadow{
//    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
//    .x-btn-over{
//        background-color: $button-toolbar-hover-background-color;
//    }
//}

//Add border around html editor field
.x-html-editor-input{
    border:1px solid #ccc;
}

//UI Styles for buttons
@include extjs-button-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%),
    $border-radius: 0px
);
@include extjs-button-large-ui(
    $ui: 'soft-blue',
    $line-height: 34px,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%),
    $border-radius: 0px
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%),
    $border-radius: 0px
);

@include extjs-button-small-ui(
    $ui: 'facebook',
    $background-color: $social-facebook-btn-background,
    $border-color: darken($social-facebook-btn-background, 5%),
    $border-radius: 0px
);
@include extjs-button-large-ui(
    $ui: 'facebook',
    $line-height: 34px,
    $background-color: $social-facebook-btn-background,
    $border-color: darken($social-facebook-btn-background, 5%),
    $border-radius: 0px
);


@include extjs-button-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-green',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);



@include extjs-button-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%),
    $border-radius: 0px
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);


@include extjs-button-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%),
    $border-radius: 5px
);
@include extjs-button-large-ui(
    $ui: 'gray',
    $line-height: 34px,
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%),
    $border-radius: 5px
);

@include extjs-button-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%),
    $border-radius: 5px
);
@include extjs-button-toolbar-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);


@include extjs-button-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);

@include extjs-button-small-ui(
    $ui: 'header',
    $color: #999,
    $glyph-color: #919191,
    $background-color: transparent,
    $border-width: 0
);
@include extjs-button-small-ui(
    $ui: 'amber',
    $background-color: $color-amber,
    $border-color:darken($color-amber, 5%),
    $border-radius: 0px
);
@include extjs-button-small-ui(
    $ui: 'button-sistema',
    $background-color: $color-sistema,
    $border-color:darken($color-sistema, 5%),
    $border-radius: 10px,
    $font-size:14px,
    $ui-tab-font-weight: bold
);
@include extjs-button-small-ui(
    $ui: 'button-sistema-sc',
    $background-color: $color-sistema-sc,
    $border-color:darken($color-sistema-sc, 5%),
    $border-radius: 10px,
    $font-size:14px,
    $ui-tab-font-weight: bold
);
@include extjs-button-small-ui(
    $ui: 'button-sistema-excel',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%),
    $border-radius: 10px,
    $font-size:14px,
    $ui-tab-font-weight: bold
);
//********************************************************************


.shadow {
    @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.2));
}

.nav-tree-badge:after {
    position: absolute;
    height: 18px;
    width: 3.3em;
    display: inline-block;
    text-align: center;
    top: 50%;
    margin-top: -9px;
    right: 12px;
    color: red; //#fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
}

.nav-tree-badge-hot:after {
    content: "HOT";
    background-color: #e3495a;
}

.nav-tree-badge-new:after {
    content: "NEW";
    background-color: $color-soft-blue;
}

.pop-out {
    @include box-shadow(2px 2px 8px 2px #ccc);
}

.circular {
    border-radius: 50%;
}

//Windows


@include extjs-window-ui(
    $ui: 'mylogin',
    $ui-header-background-color: red,
);

.iconRed{
    color: red;
}


@include extjs-tab-panel-ui(
    $ui: 'tab-venta',
    $ui-tab-background-color : mix(rgb(255, 36, 36), $panel-navigation-background-color, 5%),
    $ui-tab-border-radius : 10px,
    $ui-tab-plain-color-over :#7e7d7d,  //#ffffff,
    //$ui-tab-plain-color-focus:#ffffff,
   // $ui-tab-plain-color-disabled:red,
    $ui-tab-plain-color-focus-active:rgb(245, 245, 245),
    $ui-tab-plain-background-color-active:#1c50dd,
    $ui-tab-plain-background-color-focus:#1c50dd,
    $ui-tab-plain-color : red,
    $ui-tab-plain-background-color-disabled:#ffffff
);

@include extjs-text-field-ui(
    $ui: 'datefield-sistema',
    $ui-height :45,
    $ui-background-color :#E4E4E7,
    $ui-border-radius:10px,
    $ui-font-size:15px,
    $ui-classic-border:false,
    $ui-border-color :#ffffff,
    $ui-focus-border-color:#ffffff

);
//textfield-ui 
@include extjs-text-field-ui(
    $ui: 'textfield-filtro',
    $ui-height :45,
    $ui-background-color :#E4E4E7,
    $ui-border-radius:10px,
    $ui-font-size:15px,
    $ui-classic-border:false,
    $ui-border-color :#ffffff,
    $ui-focus-border-color:#ffffff

);